# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Flask
instance/
*.db  # Excludes genproj.db
*.sqlite

# Environment variables
.env
*.env

# Logs
*.log

# IDE/Editor
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# Dependencies
*.egg-info/
dist/
build/

# Testing/Coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# Other
*.bak
*.swp
*~